<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <title>The Third Eyes</title>
  </head>
  <body>
    <h1>The Third Eyes!</h1>
    <ul class="nav nav-tabs" id="yoloTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="yolo1-tab" data-toggle="tab" href="#yolo1" role="tab" aria-controls="yolo1" aria-selected="true">yolo1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="yolo2-tab" data-toggle="tab" href="#yolo2" role="tab" aria-controls="yolo2" aria-selected="false">yolo2</a>
        </li>
    </ul>
    <div class="tab-content" id="yoloTabContent">
      <div class="tab-pane fade show active" id="yolo1" role="tabpanel" aria-labelledby="yolo1-tab">
        <div class="container-fluid">
          <div class="row">
            <div class="col-8">
              <img id="yolo1-img" src="{{ url_for('video_feed') }}" class="img-fluid">
            </div>
            <div class="col">
              <iframe id="iframe" src="http://127.0.0.1:8099/fusion/1" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="yolo2" role="tabpanel" aria-labelledby="yolo2-tab">
        <div class="container-fluid">
          <div class="row">
            <div class="col-8">
              <img id="yolo2-img" src="{{ url_for('video_feed2') }}" class="img-fluid">
            </div>
            <div class="col">
              <iframe id="iframe" src="http://127.0.0.1:8099/sort/2" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
      $('iframe').css({'height': $(window).height()})
    </script>
  </body>
</html>
